.listContainer ul {
  list-style-type: disc;
  margin-left: 20px;
}

.listContainer ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.listContainer li {
  margin-bottom: 5px;
  margin-left:5px;
}

.ql-align-left {
  text-align: left !important;
}
.listContainer .ql-align-center {
  text-align: center !important;
}
.listContainer .ql-align-right {
  text-align: right !important;
}